In [1]:
import pandas as pd
import requests

In [2]:
requisicao = requests.get("https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2023_-_S%C3%A9rie_A")
tabelas = pd.read_html(requisicao.text)
table_class = tabelas[6]
table_matches = tabelas[7]

In [3]:
display(table_class)
display(table_matches)

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Palmeiras (T),63,35,18,9,8,58,32,+26,Fase de grupos da Copa Libertadores de 2024
1,2,Flamengo (T),63,35,18,9,8,54,37,+17,Fase de grupos da Copa Libertadores de 2024
2,3,Botafogo (T),62,35,18,8,9,56,33,+23,Fase de grupos da Copa Libertadores de 2024
3,4,Atlético Mineiro (X),60,35,17,9,9,46,27,+19,Fase de grupos da Copa Libertadores de 2024
4,5,Grêmio (X),59,35,18,5,12,57,53,+4,Segunda fase da Copa Libertadores de 2024
5,6,Red Bull Bragantino (X),59,35,16,11,8,46,31,+15,Segunda fase da Copa Libertadores de 2024
6,7,Fluminense (Q),53,35,15,8,12,46,43,+3,Fase de grupos da Copa Libertadores de 2024[a]
7,8,Athletico Paranaense,52,35,13,13,9,47,39,+8,Fase de grupos da Copa Sul-Americana de 2024
8,9,Cuiabá,48,35,13,9,13,36,35,+1,Fase de grupos da Copa Sul-Americana de 2024
9,10,São Paulo (Q),47,35,12,11,12,37,36,+1,Fase de grupos da Copa Libertadores de 2024[b]
10,11,Internacional,46,35,12,10,13,39,43,−4,Fase de grupos da Copa Sul-Americana de 2024
11,12,Fortaleza,45,35,12,9,14,40,42,−2,Fase de grupos da Copa Sul-Americana de 2024
12,13,Cruzeiro,44,35,11,11,13,33,30,+3,Fase de grupos da Copa Sul-Americana de 2024
13,14,Corinthians,44,35,10,14,11,40,44,−4,Fase de grupos da Copa Sul-Americana de 2024
14,15,Santos,43,35,11,10,14,38,56,−18,NaN
15,16,Vasco da Gama,42,35,11,9,15,37,45,−8,NaN
16,17,Bahia,41,35,11,8,16,44,48,−4,Rebaixados à Série B de 2024
17,18,Goiás,35,35,8,11,16,34,50,−16,Rebaixados à Série B de 2024
18,19,Coritiba (R),29,35,8,5,22,40,69,−29,Rebaixados à Série B de 2024
19,20,América Mineiro (R),21,35,4,9,22,39,74,−35,Rebaixados à Série B de 2024

,Casa \ Fora,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,América Mineiro,—,2–2,1–1,NaN,1–2,2–0,0–3,0–4,1–2,...,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
1,Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,...,2–2,1–1,2–0,1–2,2–1,2–2,1–1,NaN,1–1,0–0
2,Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,...,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,NaN,1–2
3,Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,...,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,NaN,1–1
4,Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,NaN,0–1,...,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
5,Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,...,2–0,1–1,1–1,4–4,a,0–0,0–1,1–1,1–1,3–1
6,Coritiba,3–1,2–0,1–2,2–4,NaN,NaN,—,1–0,0–3,...,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
7,Cruzeiro,1–1,NaN,0–1,3–0,0–0,1–1,0–0,—,0–1,...,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
8,Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,...,3–0,2–1,1–1,1–2,NaN,0–2,1–1,3–0,2–1,0–2
9,Flamengo,1–1,0–3,a,1–0,2–3,1–0,3–0,1–1,NaN,...,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
10,Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,...,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
11,Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,...,4–2,—,NaN,1–1,1–1,2–2,0–3,4–0,0–0,2–0
12,Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,...,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
13,Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,...,2–1,0–0,NaN,—,3–1,1–0,3–3,1–0,2–1,NaN
14,Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,...,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
15,Palmeiras,NaN,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,...,a,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
16,Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,NaN,0–3,2–0,...,1–0,NaN,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
17,Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,...,a,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
18,São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,...,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
19,Vasco da Gama,2–1,0–2,1–0,0–1,1–0,a,5–1,0–1,1–0,...,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

In [4]:
nameTeams = list(table_matches["Casa \ Fora"])
surnameTeams = list(table_matches.columns)
surnameTeams.pop(0) #excluir primeira coluna "casa/fora"
print(nameTeams)
print(surnameTeams)

sur_to_name = dict(zip(surnameTeams, nameTeams))
print(sur_to_name)

['América Mineiro', 'Athletico Paranaense', 'Atlético Mineiro', 'Bahia', 'Botafogo', 'Corinthians', 'Coritiba', 'Cruzeiro', 'Cuiabá', 'Flamengo', 'Fluminense', 'Fortaleza', 'Goiás', 'Grêmio', 'Internacional', 'Palmeiras', 'Red Bull Bragantino', 'Santos', 'São Paulo', 'Vasco da Gama']
['AMM', 'ATP', 'ATM', 'BAH', 'BOT', 'COR', 'CTB', 'CRU', 'CUI', 'FLA', 'FLU', 'FOR', 'GOI', 'GRE', 'INT', 'PAL', 'RBB', 'SAN', 'SPA', 'VAS']
{'AMM': 'América Mineiro', 'ATP': 'Athletico Paranaense', 'ATM': 'Atlético Mineiro', 'BAH': 'Bahia', 'BOT': 'Botafogo', 'COR': 'Corinthians', 'CTB': 'Coritiba', 'CRU': 'Cruzeiro', 'CUI': 'Cuiabá', 'FLA': 'Flamengo', 'FLU': 'Fluminense', 'FOR': 'Fortaleza', 'GOI': 'Goiás', 'GRE': 'Grêmio', 'INT': 'Internacional', 'PAL': 'Palmeiras', 'RBB': 'Red Bull Bragantino', 'SAN': 'Santos', 'SPA': 'São Paulo', 'VAS': 'Vasco da Gama'}

In [5]:
table_matches_ajusted = table_matches.set_index("Casa \ Fora")
table_matches_ajusted = table_matches_ajusted.unstack().reset_index()
table_matches_ajusted = table_matches_ajusted.rename(columns={"level_0": "Fora", "Casa \ Fora": "Casa", 0:"Resultado"})

display(table_matches_ajusted)

    Fora                  Casa Resultado
0    AMM       América Mineiro         —
1    AMM  Athletico Paranaense       3–2
2    AMM      Atlético Mineiro       2–2
3    AMM                 Bahia       3–1
4    AMM              Botafogo       2–0
..   ...                   ...       ...
395  VAS             Palmeiras       1–0
396  VAS   Red Bull Bragantino       1–1
397  VAS                Santos       4–1
398  VAS             São Paulo       4–2
399  VAS         Vasco da Gama         —

[400 rows x 3 columns]

In [6]:
def ajust_surname(Line):
    surname = Line['Fora']
    name = sur_to_name[surname]
    return name
table_matches_ajusted['Fora'] = table_matches_ajusted.apply(ajust_surname, axis=1)

In [7]:
table_matches_ajusted = table_matches_ajusted[table_matches_ajusted['Fora']!= table_matches_ajusted['Casa']]
display(table_matches_ajusted)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[380 rows x 3 columns]

In [8]:
table_matches_ajusted.loc[:, 'Resultado'].fillna("A jogar", inplace=True)
table_matches_played = table_matches_ajusted[table_matches_ajusted['Resultado'].str.contains('–')]
display(table_matches_played)

table_matches_left = table_matches_ajusted[~table_matches_ajusted['Resultado'].str.contains('–')] #colocar um '~' antes da condicao serve para indicar o oposto dessa condicao
table_matches_left = table_matches_left.drop(columns=['Resultado'])
display(table_matches_left)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[350 rows x 3 columns]

                     Fora                  Casa
12        América Mineiro                 Goiás
15        América Mineiro             Palmeiras
27   Athletico Paranaense              Cruzeiro
28   Athletico Paranaense                Cuiabá
43       Atlético Mineiro                 Bahia
49       Atlético Mineiro              Flamengo
60                  Bahia       América Mineiro
86               Botafogo              Coritiba
94               Botafogo         Internacional
106           Corinthians              Coritiba
119           Corinthians         Vasco da Gama
136              Coritiba   Red Bull Bragantino
144              Cruzeiro              Botafogo
169                Cuiabá              Flamengo
198              Flamengo             São Paulo
215            Fluminense             Palmeiras
217            Fluminense                Santos
236             Fortaleza   Red Bull Bragantino
237             Fortaleza                Santos
251                 Goiás             Fortaleza
253                 Goiás                Grêmio
270                Grêmio            Fluminense
285         Internacional           Corinthians
288         Internacional                Cuiabá
307             Palmeiras              Cruzeiro
339   Red Bull Bragantino         Vasco da Gama
341                Santos  Athletico Paranaense
362             São Paulo      Atlético Mineiro
363             São Paulo                 Bahia
393         Vasco da Gama                Grêmio