In [2]:
import pandas as pd
import requests

In [7]:
requisicao = requests.get("https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2023_-_S%C3%A9rie_A")
tabelas = pd.read_html(requisicao.text)
for tabela in tabelas:
    display(tabela)

    0                                                  1
0 NaN  Este artigo ou se(c)ção trata de um evento des...

                     Brasileirão Assaí – Série A 2023  \
                           Brasileirão 2023 - Série A
0   Campeonato Brasileiro de Futebol de 2023 - Sér...
1                                               Dados
2                                       Participantes
3                                         Organização
4                                             Período
5                                             Gol(o)s
6                                            Partidas
7                                               Média
8                                        Rebaixado(s)
9                                     Melhor marcador
10                                      Melhor ataque
11                                      Melhor defesa
12                          Maior goleada (diferença)
13                                            Público
14                                              Média
15                                    ◄◄ 2022 2024 ►►
16                                            ◄◄ 2022
17                       atualizado em 27 de novembro

                                                      Unnamed: 2_level_0
                         Brasileirão 2023 - Série A.1 Unnamed: 2_level_1
0   Campeonato Brasileiro de Futebol de 2023 - Sér...                NaN
1                                               Dados                NaN
2                                                  20                NaN
3                                                 CBF                NaN
4                         15 de abril – 6 de dezembro                NaN
5                                                 867                NaN
6                                                 350                NaN
7                            2,48 gol(o)s por partida                NaN
8                            América Mineiro Coritiba                NaN
9               Paulinho (Atlético Mineiro) – 17 gols                NaN
10                                Palmeiras – 58 gols                NaN
11                         Atlético Mineiro – 27 gols                NaN
12  Internacional 7–1 Santos Estádio Beira-Rio, Po...                NaN
13                                          6 665 710                NaN
14                       26 451,2 pessoas por partida                NaN
15                                    ◄◄ 2022 2024 ►►                NaN
16                                                NaN            2024 ►►
17                       atualizado em 27 de novembro                NaN

         0   1        2
0  ◄◄ 2022 NaN  2024 ►►

,Equipe,Cidade,Estado,Em 2022,Estádio (mando),Capacidade[6],Títulos
0,América Mineiro,Belo Horizonte,MG,10º,Independência,23 018,0 (não possui)
1,Athletico Paranaense,Curitiba,PR,6º,Ligga Arena,42 370,1 (2001)
2,Atlético Mineiro,Belo Horizonte,MG,7º,Arena MRV[nota 1],44 892[8],"3 (1937,[9] 1971 e 2021)"
3,Bahia,Salvador,BA,3º (Série B),Itaipava Arena Fonte Nova,50 025,2 (1959 e 1988)
4,Botafogo,Rio de Janeiro,RJ,11º,Nilton Santos,44 661,2 (1968[nota 2] e 1995)
5,Corinthians,São Paulo,SP,4º,Neo Química Arena,47 605,"7 (1990, 1998, 1999, 2005, 2011, 2015 e 2017)"
6,Coritiba,Curitiba,PR,15º,Couto Pereira,40 502,1 (1985)
7,Cruzeiro,Belo Horizonte,MG,1º (Série B),Mineirão,61 927,"4 (1966, 2003, 2013 e 2014)"
8,Cuiabá,Cuiabá,MT,16º,Arena Pantanal,44 097,0 (não possui)
9,Flamengo,Rio de Janeiro,RJ,5º,Maracanã,78 838,"7 (1980, 1982, 1983, 1992, 2009, 2019 e 2020)"
10,Fluminense,Rio de Janeiro,RJ,3º,Maracanã,78 838,"4 (1970, 1984, 2010 e 2012)"
11,Fortaleza,Fortaleza,CE,8º,Arena Castelão,63 903,0 (não possui)
12,Goiás,Goiânia,GO,13º,Serrinha,14 525,0 (não possui)
13,Grêmio,Porto Alegre,RS,2º (Série B),Arena do Grêmio,55 662,2 (1981 e 1996)
14,Internacional,Porto Alegre,RS,2º,Beira-Rio,50 842,"3 (1975, 1976 e 1979)"
15,Palmeiras,São Paulo,SP,1º,Allianz Parque,43 713,"11 (1960, 1967[nota 2], 1967[nota 3], 1969, 19..."
16,Red Bull Bragantino,Bragança Paulista,SP,14º,Nabi Abi Chedid,15 010,0 (não possui)
17,Santos,Santos,SP,12º,Vila Belmiro,16 795,"8 (1961, 1962, 1963, 1964, 1965, 1968[nota 3],..."
18,São Paulo,São Paulo,SP,9º,Morumbi,72 039,"6 (1977, 1986, 1991, 2006, 2007 e 2008)"
19,Vasco da Gama,Rio de Janeiro,RJ,4º (Série B),São Januário,21 680,"4 (1974, 1989, 1997 e 2000)"

,0,1,2,3,4,5
0,América Mineiro,Athletico Paranaense,Atlético Mineiro,Bahia,Botafogo,Corinthians
1,Independência,Ligga Arena,Arena MRV,Itaipava Arena Fonte Nova,Nilton Santos,Neo Química Arena
2,Capacidade: 23 018,Capacidade: 42 370,Capacidade: 44 892,Capacidade: 50 025,Capacidade: 44 661,Capacidade: 47 605
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Coritiba,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Cruzeiro
5,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,NaN
6,Couto Pereira,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Mineirão
7,Capacidade: 40 502,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Capacidade: 61 927
8,NaN,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,NaN
9,Cuiabá,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Flamengo
10,Arena Pantanal,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Maracanã
11,Capacidade: 44 000,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Capacidade: 78 838
12,NaN,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,NaN
13,Fluminense,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Fortaleza
14,Maracanã,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Arena Castelão
15,Capacidade: 78 838,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Capacidade: 63 903
16,NaN,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,NaN
17,Goiás,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Grêmio
18,Serrinha,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Arena do Grêmio
19,Capacidade: 14 525,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Capacidade: 55 662
20,NaN,NaN,NaN,NaN,NaN,NaN
21,Internacional,Palmeiras,Red Bull Bragantino,Santos,São Paulo,Vasco da Gama
22,Beira-Rio,Allianz Parque,Nabi Abi Chedid,Vila Belmiro,Morumbi,São Januário
23,Capacidade: 50 842,Capacidade:43 713,Capacidade: 15 010,Capacidade: 16 795,Capacidade: 72 039,Capacidade: 21 680
24,NaN,NaN,NaN,NaN,NaN,NaN

                                                   0
0  América-MG Athletico-PR Atlético-MG Bahia Fort...

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Palmeiras (T),63,35,18,9,8,58,32,+26,Fase de grupos da Copa Libertadores de 2024
1,2,Flamengo (T),63,35,18,9,8,54,37,+17,Fase de grupos da Copa Libertadores de 2024
2,3,Botafogo (T),62,35,18,8,9,56,33,+23,Fase de grupos da Copa Libertadores de 2024
3,4,Atlético Mineiro (X),60,35,17,9,9,46,27,+19,Fase de grupos da Copa Libertadores de 2024
4,5,Grêmio (X),59,35,18,5,12,57,53,+4,Segunda fase da Copa Libertadores de 2024
5,6,Red Bull Bragantino (X),59,35,16,11,8,46,31,+15,Segunda fase da Copa Libertadores de 2024
6,7,Fluminense (Q),53,35,15,8,12,46,43,+3,Fase de grupos da Copa Libertadores de 2024[a]
7,8,Athletico Paranaense,52,35,13,13,9,47,39,+8,Fase de grupos da Copa Sul-Americana de 2024
8,9,Cuiabá,48,35,13,9,13,36,35,+1,Fase de grupos da Copa Sul-Americana de 2024
9,10,São Paulo (Q),47,35,12,11,12,37,36,+1,Fase de grupos da Copa Libertadores de 2024[b]
10,11,Internacional,46,35,12,10,13,39,43,−4,Fase de grupos da Copa Sul-Americana de 2024
11,12,Fortaleza,45,35,12,9,14,40,42,−2,Fase de grupos da Copa Sul-Americana de 2024
12,13,Cruzeiro,44,35,11,11,13,33,30,+3,Fase de grupos da Copa Sul-Americana de 2024
13,14,Corinthians,44,35,10,14,11,40,44,−4,Fase de grupos da Copa Sul-Americana de 2024
14,15,Santos,43,35,11,10,14,38,56,−18,NaN
15,16,Vasco da Gama,42,35,11,9,15,37,45,−8,NaN
16,17,Bahia,41,35,11,8,16,44,48,−4,Rebaixados à Série B de 2024
17,18,Goiás,35,35,8,11,16,34,50,−16,Rebaixados à Série B de 2024
18,19,Coritiba (R),29,35,8,5,22,40,69,−29,Rebaixados à Série B de 2024
19,20,América Mineiro (R),21,35,4,9,22,39,74,−35,Rebaixados à Série B de 2024

,Casa \ Fora,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,América Mineiro,—,2–2,1–1,NaN,1–2,2–0,0–3,0–4,1–2,...,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
1,Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,...,2–2,1–1,2–0,1–2,2–1,2–2,1–1,NaN,1–1,0–0
2,Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,...,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,NaN,1–2
3,Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,...,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,NaN,1–1
4,Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,NaN,0–1,...,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
5,Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,...,2–0,1–1,1–1,4–4,a,0–0,0–1,1–1,1–1,3–1
6,Coritiba,3–1,2–0,1–2,2–4,NaN,NaN,—,1–0,0–3,...,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
7,Cruzeiro,1–1,NaN,0–1,3–0,0–0,1–1,0–0,—,0–1,...,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
8,Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,...,3–0,2–1,1–1,1–2,NaN,0–2,1–1,3–0,2–1,0–2
9,Flamengo,1–1,0–3,a,1–0,2–3,1–0,3–0,1–1,NaN,...,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
10,Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,...,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
11,Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,...,4–2,—,NaN,1–1,1–1,2–2,0–3,4–0,0–0,2–0
12,Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,...,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
13,Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,...,2–1,0–0,NaN,—,3–1,1–0,3–3,1–0,2–1,NaN
14,Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,...,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
15,Palmeiras,NaN,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,...,a,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
16,Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,NaN,0–3,2–0,...,1–0,NaN,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
17,Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,...,a,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
18,São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,...,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
19,Vasco da Gama,2–1,0–2,1–0,0–1,1–0,a,5–1,0–1,1–0,...,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

,Rodada ↓,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,1ª,20,3,15,12,4,6,19,13,16,...,1,10,18,9,10,7,4,17,13,8
1,2ª,20,11,16,18,2,14,19,12,15,...,1,3,10,13,6,4,7,17,9,5
2,3ª,20,16,10,14,1,17,19,6,18,...,5,2,15,7,4,3,12,11,8,9
3,4ª,20,10,16,9,1,15,19,3,13,...,6,4,18,7,8,2,12,14,5,11
4,5ª,20,4,8,13,1,16,19,4,17,...,3,6,18,10,11,2,15,9,7,14
5,6ª,20,5,6,14,1,17,19,4,18,...,3,8,15,11,12,2,13,7,10,16
6,7ª,19,7,4,13,1,18,20,5,14,...,3,11,16,10,15,2,12,9,8,17
7,8ª,19,11,4,16,1,14,20,6,15,...,8,9,17,5,13,2,10,12,3,18
8,9ª,18,7,3,15,1,16,20,10,14,...,6,9,17,4,13,2,11,12,8,19
9,10ª,18,7,4,15,1,16,20,9,14,...,5,11,17,6,10,2,12,13,8,19
10,11ª,18,11,5,14,1,15,20,12,16,...,7,10,17,3,8,2,9,13,6,19
11,12ª,19,9,10,14,1,15,20,12,16,...,5,8,17,2,6,4,7,13,11,18
12,13ª,19,9,10,15,1,16,20,12,13,...,6,11,17,2,8,4,5,14,7,18
13,14ª,20,11,12,16,1,15,18,9,14,...,4,7,17,3,10,5,6,13,8,19
14,15ª,20,8,12,16,1,15,18,10,13,...,5,9,17,3,11,6,7,14,4,19
15,16ª,19,5,13,17,1,15,18,11,12,...,7,9,16,2,10,4,8,14,6,20
16,17ª,19,7,13,17,1,14,18,10,9,...,5,11,16,4,12,3,6,15,8,20
17,18ª,20,7,10,16,1,14,18,11,8,...,3,13,15,6,12,4,5,17,9,19
18,19ª,20,6,10,16,1,14,18,12,8,...,7,11,15,2,13,3,5,17,9,19
19,20ª,20,6,11,16,1,13,19,12,9,...,4,8,15,5,14,2,7,17,10,18
20,21ª,20,7,9,16,1,13,19,12,10,...,5,8,15,3,14,2,6,17,11,18
21,22ª,19,7,9,16,1,13,20,12,10,...,5,8,15,3,14,2,6,17,11,18
22,23ª,19,7,9,15,1,14,20,11,10,...,6,8,16,3,12,2,5,17,13,18
23,24ª,19,6,9,17,1,11,20,13,12,...,5,8,16,3,14,2,4,18,10,15
24,25ª,19,8,7,18,1,13,20,12,11,...,6,9,16,3,14,4,2,15,10,17
25,26ª,20,8,9,16,1,14,19,13,11,...,7,6,18,3,12,4,2,15,10,17
26,27ª,20,6,7,14,1,13,19,15,10,...,9,8,18,4,12,5,2,17,11,16
27,28ª,20,5,7,13,1,15,19,14,11,...,9,8,16,6,12,4,2,18,10,17
28,29ª,20,5,7,15,1,14,19,13,12,...,8,9,17,6,11,3,2,16,10,18
29,30ª,20,7,6,15,1,14,19,13,10,...,8,9,17,4,12,2,3,16,11,18
30,31ª,20,7,5,14,1,12,19,16,11,...,8,9,18,4,13,2,3,15,10,17
31,32ª,20,7,5,15,1,13,19,17,12,...,8,9,18,4,11,2,3,14,10,16
32,33ª,20,7,6,15,1,14,19,17,10,...,8,11,18,2,12,3,4,13,9,16
33,34ª,20,7,6,17,2,12,19,16,9,...,8,11,18,4,13,1,5,14,10,15
34,35ª,20,8,4,17,3,14,19,13,9,...,7,12,18,5,11,1,6,15,10,16
35,36ª,20,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,...,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,37ª,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38ª,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Rodada ↑,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS

                                                   0   1
0  Líder e fase de grupos da Copa Libertadores de... NaN

   Pos.            Jogador                Equipe  Gols[24]
0     1           Paulinho      Atlético Mineiro        17
1     2    Tiquinho Soares              Botafogo        16
2     3               Hulk      Atlético Mineiro        14
3     3        Luis Suárez                Grêmio        14
4     5    Marcos Leonardo                Santos        13
5     6          Deyverson                Cuiabá        12
6     6              Pedro              Flamengo        12
7     6             Robson              Coritiba        12
8     9  Gonzalo Mastriani       América Mineiro        11
9     9        Vitor Roque  Athletico Paranaense        11

   Pos.        Jogador            Equipe  Asst.[25]
0     1    Luis Suárez            Grêmio         10
1     2           Hulk  Atlético Mineiro          9
2     3         Gerson          Flamengo          7
3     3       PH Ganso        Fluminense          7
4     3  Raphael Veiga         Palmeiras          7

   Pos.        Jogador               Equipe  Jogos[26]
0     1        Cleiton  Red Bull Bragantino         15
1     2    Lucas Perri             Botafogo         14
2     2  Rafael Cabral             Cruzeiro         14
3     4        Éverson     Atlético Mineiro         13
4     4       Weverton            Palmeiras         13
5     6         Walter               Cuiabá         12
6     7          Fábio           Fluminense         11
7     7         Rafael            São Paulo         11

       Jogador   Clube Adversário   Placar           Data  Ref.
0     Everaldo   Bahia      Goiás  6–4 (F)   7 de outubro  [27]
1  Luis Suárez  Grêmio   Botafogo  4–3 (F)  9 de novembro  [28]

,N.º,Público[nota 4],Mandante,Placar,Visitante,Estádio,Data,Rodada,Ref.
0,1,64 708,Flamengo,1–2,Santos,Mané Garrincha,1 de novembro,31ª,[29]
1,2,64 524,Flamengo,1–0,Vasco da Gama,Maracanã,22 de outubro,28ª,[30]
2,3,61 094,Flamengo,1–1,Cruzeiro,Maracanã,28 de maio,8ª,[31]
3,4,60 997,Flamengo,3–0,Palmeiras,Maracanã,8 de novembro,33ª,[32]
4,5,60 352,Flamengo,1–0,Corinthians,Maracanã,21 de maio,7ª,[33]
5,6,60 304,Flamengo,2–0,Fortaleza,Maracanã,1 de julho,13ª,[34]
6,7,60 236,Flamengo,1–1,América Mineiro,Maracanã,22 de julho,16ª,[35]
7,8,59 979,Flamengo,1–1,Fluminense,Maracanã,11 de novembro,34ª,[36]
8,9,59 188,Flamengo,3–0,Grêmio,Maracanã,11 de junho,10ª,[37]
9,10,58 902,Flamengo,1–1,São Paulo,Maracanã,13 de agosto,19ª,[38]

,N.º,Público[nota 4],Mandante,Placar,Visitante,Estádio,Data,Rodada,Ref.
0,1,1 088,América Mineiro,0–3,Coritiba,Independência,8 de novembro,33ª,[39]
1,2,1 303,América Mineiro,1–2,Internacional,Independência,25 de junho,12ª,[40]
2,3,1 388,América Mineiro,0–2,Red Bull Bragantino,Independência,19 de setembro,24ª,[41]
3,4,1 436,América Mineiro,2–1,Fortaleza,Independência,20 de maio,7ª,[42]
4,5,1 838,América Mineiro,3–4,Grêmio,Independência,28 de outubro,30ª,[43]
5,6,2 012,América Mineiro,2–2,Athletico Paranaense,Mineirão,11 de junho,10ª,[44]
6,7,2 030,América Mineiro,0–1,Goiás,Independência,13 de agosto,19ª,[45]
7,8,2 614,América Mineiro,2–0,Santos,Independência,3 de setembro,22ª,[46]
8,9,2 909,Red Bull Bragantino,2–2,América Mineiro,Nabi Abi Chedid,10 de maio,5ª,[47]
9,10,3 148,América Mineiro,0–4,Cruzeiro,Independência,14 de maio,6ª,[48]

,Clube,Antecessor,Data,Última partida,Rod,Pos,Sucessor,Ref.
0,Flamengo,Mario Jorge (interino),17 de abril,Flamengo 3–0 Coritiba,1ª,2º,Jorge Sampaoli[nota 5],[50]
1,Coritiba,António Oliveira,18 de abril,Flamengo 3–0 Coritiba,1ª,19º,Antônio Carlos Zago[nota 6],[52][53]
2,São Paulo,Rogério Ceni,19 de abril,São Paulo 2–0 Academia Puerto Cabello[nota 7],1ª,13º,Dorival Júnior,[54][55]
3,Corinthians,Fernando Lázaro,20 de abril,Corinthians 0–1 Argentinos Juniors[nota 8],1ª,6º,Cuca,[56][57]
4,Corinthians,Cuca,27 de abril,Corinthians 2–0 Remo[nota 9],2º,14º,Vanderlei Luxemburgo[nota 10],[59][60]
5,Cuiabá,Ivo Vieira,10 de maio,Cuiabá 0–4 Atlético Mineiro,5º,17º,António Oliveira[nota 11],[62][63]
6,Goiás,Emerson Ávila (interino),9 de junho,Goiás 0–0 Gimnasia y Esgrima[nota 7],9ª,17º,Armando Evangelista[nota 12],[65][66]
7,Atlético Mineiro,Eduardo Coudet,11 de junho,Atlético Mineiro 1–1 Red Bull Bragantino,10ª,3º,Felipão,[67][68]
8,Athletico Paranaense,Paulo Turra,16 de junho,América Mineiro 2–2 Athletico Paranaense,10ª,7º,Wesley Carvalho (interino),[69][70]
9,Santos,Odair Hellmann,22 de junho,Santos 0–2 Corinthians,11ª,13º,Paulo Turra[nota 13],[72][73]
10,Vasco da Gama,Maurício Barbieri,22 de junho,Vasco da Gama 0–1 Goiás,11ª,19º,Ramón Díaz[nota 14],[75][76]
11,Coritiba,Antônio Carlos Zago,27 de junho,Grêmio 5–1 Coritiba,12ª,20º,Thiago Kosloski,[77][78]
12,Botafogo,Luís Castro,29 de junho,Botafogo 1–1 Magallanes[nota 7],12ª,1º,Bruno Lage[nota 15],[80][81]
13,Internacional,Mano Menezes,17 de julho,Internacional 0–0 Palmeiras,15ª,11º,Eduardo Coudet,[82][83]
14,Santos,Paulo Turra,6 de agosto,Santos 1–1 Athletico Paranaense,18ª,16º,Diego Aguirre,[84][85]
15,América Mineiro,Vagner Mancini,6 de agosto,Bahia 3–1 América Mineiro,18ª,20º,Fabián Bustos,[86][87]
16,Cruzeiro,Pepa,29 de agosto,Grêmio 3–0 Cruzeiro,21ª,12º,Zé Ricardo[nota 16],[89][90]
17,Bahia,Renato Paiva,6 de setembro,Bahia 1–1 Vasco da Gama,22ª,16º,Rogério Ceni,[91][92]
18,Santos,Diego Aguirre,15 de setembro,Santos 0–3 Cruzeiro,23ª,17º,Marcelo Fernandes,[93][94]
19,Corinthians,Vanderlei Luxemburgo,27 de setembro,Corinthians 1–1 Fortaleza[nota 7],24ª,10º,Mano Menezes,[95][96]
20,Flamengo,Jorge Sampaoli,28 de setembro,São Paulo 1–1 Flamengo[nota 9],24ª,7º,Tite[nota 17],[98][99]
21,Botafogo,Bruno Lage,3 de outubro,Botafogo 1–1 Goiás,25ª,1º,Lúcio Flávio (interino),[100][101]
22,América Mineiro,Fabián Bustos,9 de novembro,América Mineiro 0–3 Coritiba,33ª,20º,Diogo Giacomini (interino),[102]
23,Botafogo,Lúcio Flávio (interino),12 de novembro,Red Bull Bragantino 2–2 Botafogo,34ª,2º,Tiago Nunes,[103][104]
24,Cruzeiro,Zé Ricardo,12 de novembro,Coritiba 1–0 Cruzeiro,34ª,17º,Paulo Autuori (interino),[105][106]
25,Goiás,Armando Evangelista,14 de novembro,Atlético Mineiro 2–1 Goiás,34ª,18º,Mário Henrique (interino),[107][108]
26,Coritiba,Thiago Kosloski,27 de novembro,Fluminense 2–1 Coritiba,35º,19°,Guto Ferreira,[109]

        Mês          Jogador Pos.          Clube Estatísticas         Ref.
        Mês          Jogador Pos.          Clube            J  G  A   Ref.
0     Abril  Tiquinho Soares    A       Botafogo            3  3  2  [110]
1      Maio  Tiquinho Soares    A       Botafogo            4  3  1  [111]
2     Junho  Tiquinho Soares    A       Botafogo            4  4  0  [112]
3     Julho  Tiquinho Soares    A       Botafogo            5  3  1  [113]
4    Agosto    Raphael Veiga    M      Palmeiras            3  2  1  [114]
5  Setembro    Pablo Vegetti    A  Vasco da Gama            4  4  1  [115]
6   Outubro     Alan Patrick    M  Internacional            5  3  2  [116]

        Mês           Jogador                Clube Estatísticas           \
        Mês           Jogador                Clube            J  V  E  D
0      Maio       Luís Castro             Botafogo            5  4  0  1
1     Junho     Renato Gaúcho               Grêmio            4  3  0  1
2     Julho  António Oliveira               Cuiabá            5  4  1  0
3    Agosto     Abel Ferreira            Palmeiras            4  3  0  1
4  Setembro    Pedro Caixinha  Red Bull Bragantino            3  2  1  0
5   Outubro    Pedro Caixinha  Red Bull Bragantino            5  3  1  1

    Ref.
    Ref.
0  [117]
1  [118]
2  [119]
3  [120]
4  [121]
5  [122]

,vdeCampeonato Brasileiro de Futebol - Série A,vdeCampeonato Brasileiro de Futebol - Série A.1
0,CBF Série B Série C Série D Série A1 Série A2 ...,CBF Série B Série C Série D Série A1 Série A2 ...
1,Assuntos principais,História Participações por clube Ranking de po...
2,Clubes da atual edição (2023),América Mineiro Athletico Paranaense Atlético ...
3,Edições,Torneio dos Campeões1937Taça Brasil 1959 1960 ...
4,Torneio dos Campeões,1937
5,Taça Brasil,1959 1960 1961 1962 1963 1964 1965 1966 1967 1968
6,Torneio Roberto Gomes Pedrosa,1967 1968 1969 1970
7,Campeonato Nacional de Clubes,1971 1972 1973 1974
8,Copa Brasil,1975 1976 1977 1978 1979 1984 1986 1987 1988
9,Taça de Ouro,1980 1981 1982 1983 1985
10,Campeonato Brasileiro,1989 1990 1991 1992 1993 1994 1995 1996 1997 1...
11,Copa João Havelange,2000
12,Campeonato Brasileiro - Série A,2003 2004 2005 2006 2007 2008 2009 2010 2011 2...
13,Premiações,Bola de Prata Musa do Brasileirão Prêmio Arthu...

,0,1
0,Torneio dos Campeões,1937
1,Taça Brasil,1959 1960 1961 1962 1963 1964 1965 1966 1967 1968
2,Torneio Roberto Gomes Pedrosa,1967 1968 1969 1970
3,Campeonato Nacional de Clubes,1971 1972 1973 1974
4,Copa Brasil,1975 1976 1977 1978 1979 1984 1986 1987 1988
5,Taça de Ouro,1980 1981 1982 1983 1985
6,Campeonato Brasileiro,1989 1990 1991 1992 1993 1994 1995 1996 1997 1...
7,Copa João Havelange,2000
8,Campeonato Brasileiro - Série A,2003 2004 2005 2006 2007 2008 2009 2010 2011 2...

,vdeFutebol na América do Sul em 2023 (CONMEBOL),vdeFutebol na América do Sul em 2023 (CONMEBOL).1
0,« 2022 2024 »,« 2022 2024 »
1,NaN,NaN
2,NaN,NaN
3,Campeonatos nacionais,Primeira divisão: ArgentinaBolíviaBrasilChileC...
4,Copas nacionais,Argentina Brasil Chile Colômbia Paraguai Uruguai
5,Copas das Ligas,Argentina Bolívia
6,Supercopas,"Argentina (Supercopa Argentina, Supercopa Inte..."
7,Torneios da CONMEBOL,Eliminatórias da Copa do Mundo de 2026 Copa Li...