In [ ]:
import pandas as pd
import requests

In [ ]:
requisicao = requests.get("https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2023_-_S%C3%A9rie_A")
tabelas = pd.read_html(requisicao.text)
table_class = tabelas[6]
table_matches = tabelas[7]

In [ ]:
display(table_class)
display(table_matches)

In [ ]:
nameTeams = list(table_matches["Casa \ Fora"])
surnameTeams = list(table_matches.columns)
surnameTeams.pop(0) #excluir primeira coluna "casa/fora"
print(nameTeams)
print(surnameTeams)

sur_to_name = dict(zip(surnameTeams, nameTeams))
print(sur_to_name)

In [ ]:
table_matches_ajusted = table_matches.set_index("Casa \ Fora")
table_matches_ajusted = table_matches_ajusted.unstack().reset_index()
table_matches_ajusted = table_matches_ajusted.rename(columns={"level_0": "Fora", "Casa \ Fora": "Casa", 0:"Resultado"})

display(table_matches_ajusted)

In [ ]:
def ajust_surname(Line):
    surname = Line['Fora']
    name = sur_to_name[surname]
    return name
table_matches_ajusted['Fora'] = table_matches_ajusted.apply(ajust_surname, axis=1)

In [37]:
table_matches_ajusted = table_matches_ajusted[table_matches_ajusted['Fora']!= table_matches_ajusted['Casa']]
display(table_matches_ajusted)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[380 rows x 3 columns]

In [41]:
table_matches_ajusted['Resultado'] = table_matches_ajusted['Resultado'].fillna("A jogar")
table_matches_played = table_matches_ajusted[table_matches_ajusted['Resultado'].str.contains('–')]
display(table_matches_played)

table_matches_left = table_matches_ajusted[~table_matches_ajusted['Resultado'].str.contains('–')] #colocar um '~' antes da condicao serve para indicar o oposto dessa condicao
table_matches_left = table_matches_left.drop(columns=['Resultado'])
display(table_matches_left)

C:\Users\jeand\AppData\Local\Temp\ipykernel_24104\3135969768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_matches_ajusted['Resultado'] = table_matches_ajusted['Resultado'].fillna("A jogar")

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[350 rows x 3 columns]

                     Fora                  Casa
12        América Mineiro                 Goiás
15        América Mineiro             Palmeiras
27   Athletico Paranaense              Cruzeiro
28   Athletico Paranaense                Cuiabá
43       Atlético Mineiro                 Bahia
49       Atlético Mineiro              Flamengo
60                  Bahia       América Mineiro
86               Botafogo              Coritiba
94               Botafogo         Internacional
106           Corinthians              Coritiba
119           Corinthians         Vasco da Gama
136              Coritiba   Red Bull Bragantino
144              Cruzeiro              Botafogo
169                Cuiabá              Flamengo
198              Flamengo             São Paulo
215            Fluminense             Palmeiras
217            Fluminense                Santos
236             Fortaleza   Red Bull Bragantino
237             Fortaleza                Santos
251                 Goiás             Fortaleza
253                 Goiás                Grêmio
270                Grêmio            Fluminense
285         Internacional           Corinthians
288         Internacional                Cuiabá
307             Palmeiras              Cruzeiro
339   Red Bull Bragantino         Vasco da Gama
341                Santos  Athletico Paranaense
362             São Paulo      Atlético Mineiro
363             São Paulo                 Bahia
393         Vasco da Gama                Grêmio